@media (min-width: 1200px) {
  .container {
    max-width: 2000px;
  }
}
.container-fluid > .sidebar {
  float: left;
  width: 200px;
}
.container-fluid > .content {
  float: left;
  min-width: 700px;
  max-width: 1920px;
  margin-left: 20px;
}
